.smiley{
    height:200px;
    width:200px;
    border-radius: 50%;
    background-color: yellow;
}

#left-eye{
    background-color: black;
    height:40px;
    width:40px;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 50px;
    
}

#right-eye{
    background-color: black;
    height:40px;
    width:40px;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 120px;
}

#mouth{
    background-color: brown;
    height: 50px;
    width: 100px;
    position: absolute;
    top: 130px;
    left: 60px;
    border-radius: 0px 0px 50px 50px;
    
}