#alphaChannel{
    height:200px;
    width:200px;
    background-color: rgba(255, 0, 0, 0.5);
    /* transition-duration: 2s;
    transition-delay:1s; */
    transition: border-radius 3s ease-in 0.5s /* This will apply a transition effect to the border-radius property */;
    box-shadow: 2px 2px 10px red; /* This will add a shadow effect on hover (format--> x coordinate,y blur and color)*/
}

#opacity{
    background-color: aquamarine;
    opacity: 0.5; /* This will make the entire element semi-transparent */
    height: 200px;
    width: 200px;
    transition: margin-top 2s ease-in-out 0.2s; /* This will apply a transition effect to the margin-top property */
}
    /* transform:rotate(45deg); /* This will rotate the element by 45 degrees */
    /* transform:scale(1.5);  This will scale the element to 1.5 times its original size */
    /* transform:translate(50px, 50px); This will move the element 50px to the right and 50px down */
    /* transform:skew(20deg, 10deg); This will skew the element by 20 degrees horizontally and 10 degrees vertically */ */
    /* Note: The transform property can only have one value at a time, so if you want to apply multiple transformations, you need to chain them together like this: */
    /* transform: rotate(45deg) scale(1.5) translate(50px, 50px) skew(20deg, 10deg); */
    /* Note: The transform property is a shorthand property that allows you to apply multiple transformations to an element in a single declaration.
    /* we have transform properties as well-> transform-rotate; transform-scale; transform-translate; transform-skew; */


#alphaChannel:hover{
    background-color: rgba(0, 255, 0, 0.5);
    border-radius: 50%;
    
}

#opacity:hover{
    margin-top: 20px; /* This will move the element down by 50px on hover */
    background-color: rgba(0, 255, 234, 0.689);
}

#background{
    height:400px;
    width:400px;
    background-image: url(nature.jpg);
    background-size: cover; /* This will make the background image cover the entire element */
    background-position: center; /* This will center the background image */
}