.box{
    height: 100px;
    width:300px;
    background-color: pink;
    animation-name: fontanimation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.2s;
    animation-iteration-count: 3;
    animation-direction: alternate;

    animation: fontanimation2 2s ease-in 0.2s infinite alternate;
    /* animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
}

@keyframes fontanimation {
    from {
        font-size: 20px;
        
    }
    to {
        font-size: 50px;
        
    }

}

@keyframes fontanimation2 {
    0% {
        background-color: skyblue;
        width:100px;
    }

    50%{
        background-color: lightcoral;
        width:300px;
    }
    100% {
        background-color: lightgreen;
        width:500px
    }

}