.container{
    width: 600px;
    height: 300px;
    background-color: black;
    display: grid;
    /* grid-template-rows: 100px 100px 100px; 3 rows of 100px each */
    grid-template-rows: repeat(2,1fr); /*3 rows of equal length*/
    grid-template-columns: 200px 200px 200px; /* 3 equal columns */
    /* grid-template-columns: repeat(5,1fr); 5 equal length columns */
    row-gap: 10px; /* space between rows */
    column-gap: 10px; /*space between columns*/
    justify-items: center; /* center items horizontally in their grid area */
    align-items: center; /* center items vertically in their grid area */
}

.item{
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}

.one{

    justify-self: end; /* align item to the end of its grid area horizontally */
    align-self: start; /* align item to the start of its grid area vertically */
    /* grid-column-start: 1; /* from colum 1 to cloum 2 it will take the space(of 2 columns) */
    /* grid-column-end: 3;  */ 
    /* grid-column: 1/4; from column 1 to column 3 it will take the space(of 3 columns) */
}

/* .two{ */
    /* grid-row-start: 1; from row 1 to row 2 it will take the space(of 2 columns) */
    /* grid-row-end: 3;  */
    /* grid-column: 1/4; from row 1 to row 3 it will take the space(of 3 columns) */
/* }  */