div{
    height: 100px;
    width: 700px;
    background-color: lightpink;
    border-width:5px;
    border-style:solid;
    border-color:black;
    border-left: dotted rgb(237, 35, 173);
    border-radius:10px;
    /* padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;  
    padding-right:20px; */
    padding:10px 20px; /*top and bottom left and right*/
    margin-bottom:25px;
    margin-top:25px;
}

h1{
     /* border-width:2px;
    border-style:dotted;
    border-color:purple; */
    border:2px dotted purple;
    border-top: dotted blue;
    border-right: solid green;
    border-bottom: dashed red;
    border-top-left-radius: 30px;
    border-bottom-right-radius:30px;
    padding:20px 3px 10px 4px; /* top right bottom left */;
    margin:0;
} 

button{
    background-color:bisque;
    border-radius:25px;
    padding:10px;
    border:2px solid black;
}