.container{
    height:400px;
    width:200px;
    margin:20px;
    padding:10px;
    border:2px solid black;
}

.inner{
    height: 100px;
    width: 100px;   
    margin-left:45px;
    border-radius:50px;
    border:2px solid black;
}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
    margin-top: 30px;
}  

#green{
    background-color: green;
    margin-top: 30px;
}